body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
}
a {
  color: black;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tabs .active a {
  color: red;
}
.tabs {
  border: solid;
  background: #bcbcbc;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
